/* Estilos para el contenedor principal */
.profile {
  width: 300px;
  background-color: #f0f0f0;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

  /* Centrar el contenedor horizontalmente */
  margin: 0 auto;
}
.profile-container {
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Estilos para la imagen de perfil */
.avatar {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  margin-bottom: 20px;
}

/* Estilos para la descripción */
.description {
  margin-bottom: 20px;
  background-color: #ffff;
  width: 320px;
  height: 300px;
  margin: 0 auto;
  margin-top: 9px;
  border-radius: 5px;
  justify-content: center;
  text-align: center;
}

/* Estilos para el nombre de usuario */
.description p:first-child {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

/* Estilos para el tag */
.description p:nth-child(2) {
  font-size: 16px;
  color: #888;
  margin-bottom: 10px;
}

/* Estilos para la ubicación */
.description p:last-child {
  font-size: 14px;
  color: #555;
  margin-bottom: 10px;
}

/* Estilos para la lista de estadísticas */
.stats {
  list-style-type: none;
  padding: 0;
  margin: 0;
  text-align: center; /* Alineación centrada del contenido */
  display: flex; /* Mostrar los elementos en línea */
}

/* Estilos para cada elemento de estadística */
.stats li {
  flex: 1; /* Ocupar el espacio disponible */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

/* Estilos para la etiqueta de estadística */
.label {
  font-size: 14px;
  font-weight: 500;
  color: gray;
  margin-bottom: 5px; /* Espaciado inferior para separar líneas */
}

/* Estilos para la cantidad de estadística */
.quantity {
  font-size: 14px;
  font-weight: bold;
  font-weight: 500;
  color: rgb(44, 44, 44);
  display: list-item;
}
